{{< templates/solprevious/layout.html}}
{{%content}}
      <div id="sol-home">
        <p>
          <h3 class="purple">The Sun is dying.</h3>
        </p>

        <p class="green">
          In recent years, the Sun has become increasingly unstable, to the point where experts claim it could nova at any moment.  The various inhabitants of the planets in this solar system are launching one last effort to save themselves, which involves building a final Ark to launch a selection of their people into deep space.  This requires a great deal of energy, and in a final ironic twist, the only source of such great energy is the dying star itself.  In the process of extracting and transmitting the energy required to save themselves, they will be compounding the instability of the Sun and hastening the end of their worlds.  
        </p>

        <p class="blue">
          <h3 class="blue">It is the only way.</h3>
        </p>
        <div id="sol-home-image">
          <img src="/img/SOL.jpg" width="100%">
        </div>
      </div>
{{/content}}
