{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-about" class="copy">
        <p class="purple">
          Sol was created by Sean and Ryan Spangler, two brothers who have been playing and making games together since childhood.  Sol represents the first concerted effort to realize a lifelong dream of creating and publishing a game for the rest of the world.  
        </p>
        <p class="purple">
          The original idea for Sol came from a desire to make a game whose board was a giant image of the Sun.  The rest followed naturally, and Sean and Ryan discovered they really do love the process of game design as one of the ultimate creative acts.
        </p>
      </div>
{{/content}}
