{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader container--pageheader--blk1">
	<div class="constrainer">
		<h1 class="h1">{{title}}</h1>		
	</div>
</header>

<main class="main-content">
	<div class="container container--celestial">
		<div class="constrainer">		
			<div class="half-and-half">
				<div class="half-and-half__item">
					<div class="embed-container">
						<iframe src="https://www.youtube.com/embed/videoseries?list=PLgF0nUsOkxJHoUJOrYWnvAEY_7J3GqQhf&amp;controls=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="half-and-half__item">		
					<div class="sol-rule sol-rule--white">
						<h2 class="h2">Download & Watch</h2>	
						<ul>
							<li><strong>Complete rulebook</strong> — <a href="http://www.elephantlaboratories.com/sol-rulebook.pdf" rel="external"><nobr>Download »</nobr></a></li>
							<li><strong>Meet the designers</strong> — <a href="https://www.youtube.com/watch?v=RpqhQTGowBw" rel="external"><nobr>Watch »</nobr></a></li>
							<li><strong>Interview with James Hudson</strong> — <a href="https://www.youtube.com/watch?v=XVjTzr1YEHc" rel="external"><nobr>Watch »</nobr></a></li>
							<li><strong>How to play</strong> — <a href="https://www.youtube.com/watch?v=RNskvQCEICM" rel="external"><nobr>Watch »</nobr></a></li>
							<li><strong>Story animation</strong> — <a href="https://www.youtube.com/watch?v=kTblTZSS52Y" rel="external"><nobr>Watch »</nobr></a></li>
							<li><strong>3-player run through</strong>
								<ul>
									<li><em>Part One</em> — <a href="https://www.youtube.com/watch?v=gooAhfXRoU4&t=1032s" rel="external"><nobr>Watch »</nobr></a></li> 
									<li><em>Part Two</em> — <a href="https://www.youtube.com/watch?v=91h7ibY28NA" rel="external"><nobr>Watch »</nobr></a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container container--quote container--quote--pur1">
		<div class="constrainer">
			<blockquote class="container--quote__bq">
				<p>“Deceptively deep and <nobr>deceptively complex.</nobr>”</p>
				<cite><span class="cite__author">Lance Myxter</span> <span class="cite__role">Undead Viking</span></cite>
			</blockquote>
		</div>
	</div>
	
	<div class="container container--reverse">
		<div class="constrainer">
			<div class="half-and-half">
				<div class="half-and-half__item">		
					<div class="sol-rule sol-rule--white">
						<h2 class="h2">Written Reviews</h2>	
						<ul class="no-bullets">
							<li><strong>Cole Wehrle</strong>
							<ul>
								<li><em>Culture Bytes Back</em> — <a href="https://boardgamegeek.com/thread/1572071/making-space-and-time" rel="external"><nobr>With discussion »</nobr></a></li>
								<li><em>Culture Bytes Back</em> — <a href="https://culturebytesback.com/2016/05/24/review-of-sol/" rel="external"><nobr>With pics »</nobr></a></li>
							</ul></li>
							<li><strong>Jonathan H. Liu</strong> — <a href="https://geekdad.com/2016/05/sol/" rel="external"><nobr>GeekDad »</nobr></a></li>
							<li><strong>Josh Boykin</strong> — <a href="https://www.intelligame.us/2016/05/19/sol-last-days-of-a-star-delayed-gratification/" rel="external"><nobr>IntelliGame »</nobr></a></li>
						</ul>
					</div>
				</div>
				<div class="half-and-half__item">								
					<div class="sol-rule sol-rule--white">
						<h2 class="h2">Video Reviews</h2>
						<ul class="no-bullets">
							<li><strong>Undead Viking</strong> — <a href="https://www.youtube.com/watch?v=lHkFxrBmzLc" rel="external"><nobr>Video Review »</nobr></a></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="container container--deep">
		<div class="constrainer">
			<div class="flex-vert">			
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Intense and nail-biting to the <nobr>very end.”</nobr></p>
					<cite><span class="cite__author">Andrew Tullsen</span> <span class="cite__role">Founder of Print and Play Productions</span></cite>
				</blockquote>
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Deceptively deep and <nobr>deceptively complex.”</nobr></p>
					<cite><span class="cite__author">Lance Myxter</span> <span class="cite__role">Undead Viking</span></cite>
				</blockquote>		
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Sol is great! You are constantly trying to plan the perfect set of moves while balancing that with an <nobr>ever-changing board.”</nobr></p>
					<cite><span class="cite__author">Chase Van Epps</span> <span class="cite__role">Print and Play Productions</span></cite>		
				</blockquote>		
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“The beauty of Sol is that the players build the board together, opening new strategies each game. I keep coming back to try out <nobr>new tricks.”</nobr></p>
					<cite><span class="cite__author">Mohammad Ali</span> <span class="cite__role">Member of Stumptown Gamecrafters</span></cite>
				</blockquote>		
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Sol has some real meat on its bones and un underlying elegance that made it a standout at BGG.con. I can’t wait to get this to the <nobr>table again!”</nobr></p>
					<cite><span class="cite__author">Mischa D. Krilov</span> <span class="cite__role">Board Game Hero</span></cite>
				</blockquote>
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“I have literally played Sol dozens of times, and quite frankly it never gets old. The variability in the rule set, built on a solid base, allows me as a game master to adapt the game to the group that <nobr>is playing”</nobr></p>
					<cite><span class="cite__author">Chad Nichols</span> <span class="cite__role">Dungeon Master at Geekline 415</span></cite>
				</blockquote>		
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“I always say there’s nothing new in board games, but the way Sol plays makes me feel like some core mechanics are so fresh that I've never seen them before—and Sol's game play is not just new; it's intriguing <nobr>and exciting.”</nobr></p>
					<cite><span class="cite__author">Anthony J Gallela</span> <span class="cite__role">Game Developer and Chair of the KublaCon Game Design Contest</span></cite>
				</blockquote>	
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Sol […] feels like a major invention both mechanically and thematically. Its rules are simple and stripped down—almost to the point of being an abstract game—and yet, it sports a robust decision matrix rife with <nobr>interesting choices.”</nobr></p>
					<cite><span class="cite__author">Cole Wehrle</span> <span class="cite__role">designer of Pax Pamir</span></cite>
				</blockquote>		
				<blockquote class="flex-vert__item flex-vert__item--bright">
					<p>“Sol: Last Days of a Star effortlessly blends theme with mechanics, providing a rich and unique play experience. This game is good on so many levels but what really makes it shine is the dynamic player interaction driven by the shared use of space stations, warp bridges and solar harvesters. No player can win on their own, but only one will succeed in escaping <nobr>solar annihilation.”</nobr></p>
					<cite><span class="cite__author">Tim Eisner</span> <span class="cite__role">Weird City Games, Designer of March of the Ants</span></cite>
				</blockquote>
			</div>
		</div>
	</div>
</main>
{{/content}}
