{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader">
	<div class="constrainer">
		<div class="measure">
			<h1 class="h1">{{title}}</h1>
		</div>		
	</div>
</header>

<div class="container container--light">
	<div class="constrainer">		
		<div class="half-and-half">
			<div class="half-and-half__item">		
				<h2>Videos</h2>	
				<ul>
					<li><a href="https://www.youtube.com/watch?v=RpqhQTGowBw">Meet the designers / overview / Kickstarter plea</a></li>
					<li><a href="https://www.youtube.com/watch?v=XVjTzr1YEHc">Interview with Jodi & Ryan and a now-well-known, up and coming publisher</a></li>
					<li><a href="https://www.youtube.com/watch?v=RNskvQCEICM">How to play</a> (NOTE: We will hopefully update this at some point with the actual game)</li>
					<li><a href="https://www.youtube.com/watch?v=kTblTZSS52Y">Dramatic animation of the story</a></li>
					<li>3-Player run through — <a href="https://www.youtube.com/watch?v=gooAhfXRoU4&t=1032s">Part One</a></li> 
					<li>3-Player run through — <a href="https://www.youtube.com/watch?v=91h7ibY28NA">Part Two</a></li>
				</ul>
			</div>
			<div class="half-and-half__item">
				<div class="embed-container">
					<iframe src="https://www.youtube.com/embed/jX681YpHff0?rel=0&amp;controls=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="container container--bright">
	<div class="constrainer">
		<div class="measure">
			<div class="half-and-half">
			<div class="half-and-half__item">
				<h2>Written Reviews</h2>	
				<ul class="no-bullets">
					<li>Cole Wehrle
					<ul>
						<li>Culture Bytes Back — <a href="https://boardgamegeek.com/thread/1572071/making-space-and-time">With discussion</a></li>
						<li>Culture Bytes Back — <a href="https://culturebytesback.com/2016/05/24/review-of-sol/">With pics</a></li>
					</ul></li>
					<li>Jonathan H. Liu — <a href="https://geekdad.com/2016/05/sol/">GeekDad</a></li>
					<li>Josh Boykin — <a href="https://www.intelligame.us/2016/05/19/sol-last-days-of-a-star-delayed-gratification/">IntelliGame</a></li>
				</ul>
			</div>
			<div class="half-and-half__item">
				<h2>Video Reviews</h2>
				<ul>
					<li><a href="https://www.youtube.com/watch?v=lHkFxrBmzLc">Undead Viking</a></li>
				</ul>	
			</div>
		</div>
		</div>
	</div>
</div>

<div class="container container--reverse">
	<div class="constrainer">
		<div class="measure">
			<h2>Quotes</h2>		
			<blockquote>
				<p>“Some core mechanics are so fresh that I've never seen them before—and Sol's game play is not just new; it's intriguing and exciting.”</p>
				<cite>Anthony J Gallela<span>, Game Developer and Chair of the KublaCon Game Design Contest</span></cite>
			</blockquote>		
			<blockquote>
				<p>“Deceptively deep and deceptively complex.”</p>
				<cite>Lance Myxter<span>, Undead Viking</span></cite>
			</blockquote>		
			<blockquote>
				<p>“I have literally played Sol dozens of times, and quite frankly it never gets old. The variability in the rule set, built on a solid base, allows me as a game master to adapt the game to the group that is playing.”</p>
				<cite>Chad Nichols<span>, Dungeon Master at Geekline 415</span></cite>
			</blockquote>		
			<blockquote>
				<p>“Intense and nailbiting to the very end.”</p>
				<cite>Andrew Tullsen<span>, Founder of Print and Play Productions</span></cite>
			</blockquote>		
			<blockquote>
				<p>“Sol: Last Days of a Star effortlessly blends theme with mechanics, providing a rich and unique play experience. This game is good on so many levels but what really makes it shine is the dynamic player interaction driven by the shared use of space stations, warp bridges and solar harvesters. No player can win on their own, but only one will succeed in escaping solar annihilation.”</p>
				<cite>Tim Eisner<span>, Weird City Games, Designer of March of the Ants</span></cite>
			</blockquote>		
			<blockquote>
				<p>“Sol is great! You are constantly trying to plan the perfect set of moves while balancing that with an ever-changing board.”</p>
				<cite>Chase Van Epps<span>, Print and Play Productions</span></cite>
			</blockquote>		
			<blockquote>
				<p>“The beauty of Sol is that the players build the board together, opening new strategies each game. I keep coming back to try out new tricks.”</p>
				<cite>Mohammad Ali<span>, Member of Stumptown Gamecrafters</span></cite>
			</blockquote>
		</div>
	</div>
</div>
{{/content}}
