{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader container--pageheader--order">
  <div class="constrainer">
	<h1 class="h1">Sold Out</h1>		
	<!-- <h1 class="h1">{{title}}</h1>		 -->
  </div>
</header>

<main class="main-content">
  <div class="container container--light">
    <p>Thanks for visiting! SOL is currently out of print. </p>
    <p>Your support and enthusiasm for the game has been overwhelming, and we thank you.</p>
    <p>We do intend to reprint in the future, but there is no set date. </p>
    <p>Elephant Laboratories is currently developing a new game we plan to Kickstart in 2020. </p>
    <p><a href="https://boardgamegeek.com/article/31723739#31723739" target="_blank">Here are more details about our plans for the future, with discussion.</a></p>
  </div>
  
  <div class="container container--reverse">
    <div class="constrainer">
      <div class="half-and-half">
        <div class="half-and-half__item">                       
          <img src="/assets/images/box_hero_orderpage_@2x.png" alt="Product Shot: Sol" class="image--featured" width="400" height="240">
        </div>
        <div class="half-and-half__item">
          <div class="sol-rule sol-rule--white">
            <h2 class="h2">Questions?</h2>
            <p>We sincerely thank you for your interest in Sol! If you have any questions, please write us at <a href="mailto:mothership@elephantlaboratories.com?subject=Sol%20Website%20Inquiry">mothership@elephantlaboratories.com</a></p>
            <p>We hope to hear about your experience with Sol on the <a href="https://boardgamegeek.com/boardgame/174837/sol-last-days-star" rel="external">BGG forums</a>.</p>                 
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{/content}}
