{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader">
	<div class="constrainer">
		<div class="measure">
			<h1 class="h1">{{title}}</h1>
		</div>		
	</div>
</header>

<script src="/assets/js/stripe.js"></script>

<div class="container container--light" onload="loadStripe()">
	<div class="constrainer">
		<div class="measure">
			<h2>Header</h2>	
			<p>You rule! Everything about the world</p>

      <form action="/sol/charge" method="POST">
        <div class="group">
          <label>
            <span>Name</span>
            <input name="name" class="field" placeholder="Jane Doe" />
          </label>
          <label>
            <span>Phone</span>
            <input name="phone" class="field" placeholder="(123) 456-7890" type="tel" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>Address Line 1</span>
            <input name="street1" class="field" placeholder="1111 orb drive" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>Address Line 2</span>
            <input name="street2" class="field" placeholder="apt X" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>City</span>
            <input name="city" class="field" placeholder="metropoligy" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>State</span>
            <input name="state" class="field" placeholder="oasis" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>Zip</span>
            <input name="zip" class="field" placeholder="83892" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>Country</span>
            <input name="country" class="field" placeholder="Eternity" />
          </label>
        </div>
        <div class="group">
          <label>
            <span>Card</span>
            <div id="card-element" class="field"></div>
          </label>
        </div>
        <button type="submit">Pay $70</button>
        <div class="outcome">
          <div class="error"></div>
          <div class="success">
            Success! Your Stripe token is <span class="token"></span>
          </div>
        </div>
      </form>


      <!-- <form action="/sol/charge" method="POST"> -->
      <!--   <script -->
      <!--     src="https://checkout.stripe.com/checkout.js" class="stripe-button" -->
      <!--     data-key="pk_test_01lVNaphdSv8xosyLvSm5ckt" -->
      <!--     data-amount="70" -->
      <!--     data-name="Elephant Laboratories" -->
      <!--     data-description="Widget" -->
      <!--     data-image="https://stripe.com/img/documentation/checkout/marketplace.png" -->
      <!--     data-locale="auto"> -->
      <!--   </script> -->
      <!-- </form> -->

      <!-- <form action="/sol/charge" method="post" id="payment-form"> -->
      <!--   <div class="form-row"> -->
      <!--     <label for="card-element"> -->
      <!--       Credit or debit card -->
      <!--     </label> -->

      <!--     <div id="card-element"></div> -->
      <!--     <div id="card-errors"></div> -->
      <!--   </div> -->

      <!--   <button>Submit Payment</button> -->
      <!-- </form> -->
		</div>
	</div>
</div>
{{/content}}
