{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-contact">
        <h1 class="green">Designers</h1>
        <p class="purple">
          Ryan Spangler -- <a href="mailto:ryan@elephantlaboratories.com">ryan@elephantlaboratories.com</a>
        </p>
        <p class="blue">
          Sean Spangler -- <a href="mailto:sean@elephantlaboratories.com">sean@elephantlaboratories.com</a>
        </p>
      </div>
      <div id="sol-signup">
        <div>
          <h2 class="green">Sign up to follow the progress of Sol!</h2>
        </div>
        <form id="sol-signup-form" action="{{route-for :sol-signup {} }}" method="post" enctype="multipart/form-data">
          <div><label for="sol-signup-name">name:</label></div>
          <div><input type="text" name="signup-name" id="sol-signup-name" class="text-input" size="40" /></div>
          <div><label for="sol-signup-email">email:</label></div>
          <div><input type="text" name="signup-email" id="sol-signup-email" class="text-input" size="40" /></div>
          <div><label for="sol-signup-message">message:</label></div>
          <div><textarea name="signup-message" id="sol-signup-message" class="text-area" rows="5" cols="30"></textarea></div>
          <div><label for="sol-signup-test">complete the countdown:</label></div>
          <div>
            <span class="blue">5 4 3 2 </span>
            <input type="text" name="signup-test" id="sol-signup-test" class="test" size="1" maxlength="1" />
            <span class="white"> ... Blastoff!</span>
          </div>
          <input type="submit" value="signup" class="submit" />
        </form>
      </div>
{{/content}}
