{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-game">
        <img src="/img/sol/game.jpg" width="100%">
        <div id="sol-game-heading">
          <h1 class="purple">SOL: Last Days of a Star</h1>
        </div>
        <div id="sol-game-description" class="copy">
          <p class="white">
            Sol: Last Days of a Star is a game of solar destruction and salvation for 1-5 players. Each player controls one of the worlds surrounding a star facing annihilation. For centuries these worlds have been living in utopia, fed by the seemingly boundless energy drawn from their star through a lattice of solar harvesting infrastructure. Suddenly this infrastructure is destroyed and their worlds are cast into darkness, their inhabitants facing imminent extinction.
          </p>
          <p class="white">
            Amidst the clamor, each world has built an Ark housing some small fraction of their population. Each Ark is now waiting at the edge of the solar system for the energy required to attain escape velocity before the final devastation hits. Unfortunately, the only possible source of such a great deal of energy is the dying star itself.  
          </p>
          <p class="white">
            In the game, each player will be launching sundivers to rebuild just enough of the lost solar infrastructure needed to harvest and transmit energy back to their waiting Arks. In a final twist of irony, the process of extracting this energy will further compound the solar instability and hasten their Sun's ultimate demise.            
          </p>
        </div>
        <div>
          <h3><a href="/sol-rulebook.pdf" class="aquatopia-light">LATEST RULES</a></h3>
        </div>
        <div>
          <h1 class="green">Brief Description of Gameplay</h1>
        </div>
        <div class="copy">
          <p class="blue">
            The board represents the solar environment:  two layers of orbit around the Sun (Upper and Lower Orbit), and three layers within the Sun itself (the Convective, Radiative, and Core). The deeper you go, the higher your rewards, but the more the instability you trigger in the Sun.
          </p>
          <p class="blue">
            Your Mothership rotates slowly in orbit around the Sun, and this is where your sundivers launch from to perform useful tasks in the solar environment. You can either convert sundivers into stations or use the sundivers to activate stations already on the board. Anyone who activates a station gets the base amount, and the owner receives a bonus.
          </p>
          <p class="blue">
            You gain energy by activating Energy Nodes, and you use this energy to either activate Sundiver Foundries to build new sundivers (which you need since you are constantly losing sundivers by converting them into new stations) or activate Transmit Towers to transmit the energy back to your Ark to turn into Momentum (which is ultimately how your Ark will escape). But you cannot enter the Sun without converting sundivers into Gates which span the high energy membranes separating one layer from the next.
          </p>
          <p class="blue">
            You must carefully manage your time and resources in order to transmit the most energy back to your Ark before the Sun is lost forever. With any luck, some small collection of your last planetary residents will escape the solar system before it is engulfed by the oncoming nova!
          </p>
        </div>
      </div>
{{/content}}
