{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-game">
        <img src="/img/sol/box.jpg" width="100%">
        <div id="sol-game-heading">
          <h1 class="white">SOL:  The Migration</h1>
        </div>
        <div id="sol-game-description" class="copy">
          <p class="blue">
            SOL is a board game for two to four players where each player represents a planetary effort trying to transmit as much energy as they can back to their Ark and escape the solar system before the Sun explodes!
          </p>
          <p class="blue">
            The board represents two layers of orbit around the Sun (Upper and Lower Orbit), and three layers within the Sun itself (the Convective, Radiative, and Core).  The deeper you go, the higher your rewards, but the faster the instability of the Sun is increased!  Your Orbital station rotates slowly in orbit around the Sun, and this is the only place your ships can launch from to perform useful tasks in the solar environment.
          </p>
          <p class="blue">
              You can transmit energy either by activating a Transmit Tower with a ship or by hurling a ship through the Transmission Wormhole at the center of the Sun.  In order to harvest energy, you must activate a Harvest Station using one of your ships.  To build ships, you activate a Build Station.  At the beginning of the game you start with one Harvest Station and one Build Station in upper orbit, but you are not limited to these.  You can convert different patterns of ships into stations of different kinds, and the deeper you make these stations the more benefit you receive from them.  But you cannot enter the Sun without converting ships into bridges which span the high energy membranes separating one layer from the next.
          </p>
          <p class="blue">
            You must carefully manage your time and resources in order to transmit the most energy back to your Ark before the Sun explodes!  With any luck, some small collection of your last planetary residents will escape the solar system before it is engulfed by the oncoming nova.
          </p>
        </div>
      </div>
{{/content}}
