{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-game">
        <img src="/img/sol/box.jpg" width="100%">
        <div id="sol-game-heading">
          <h1 class="white">SOL: Last Days of a Star</h1>
        </div>
        <div id="sol-game-description" class="copy">
          <p class="blue">
            SOL is a board game for two to four players where each player represents a different planetary effort to transmit as much energy from the Sun back to their Ark as they can to escape the solar system before the Sun explodes!
          </p>
          <p class="blue">
            The board represents the solar environment:  two layers of orbit around the Sun (Upper and Lower Orbit), and three layers within the Sun itself (the Convective, Radiative, and Core).  The deeper you go, the higher your rewards, but the faster the instability of the Sun is increased.  Your Mothership rotates slowly in orbit around the Sun, and this is the only place your ships can launch from to perform useful tasks in the solar environment.  You can either convert ships into stations or use the ships to activate yours and other players' stations.  If you activate your own stations you get the full reward, while activating other player's stations you split the reward with the owner.
          </p>
          <p class="blue">
              You gain energy by activating Harvest stations, and you use this energy to either activate Build stations to build new ships (which you need since you are constantly losing ships by converting them into new stations) or activate Transmit stations to transmit the energy back to your Ark to turn into Momentum (which is ultimately how your Ark will escape).  But you cannot enter the Sun without converting ships into bridges which span the high energy membranes separating one layer from the next.
          </p>
          <p class="blue">
            You must carefully manage your time and resources in order to transmit the most energy back to your Ark before the Sun is lost forever.   With any luck, some small collection of your last planetary residents will escape the solar system before it is engulfed by the oncoming nova!
          </p>
        </div>
      </div>
{{/content}}
