{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--dark container--masthead">
	<div class="constrainer">
		<div class="masthead measure">
			<h1 class="h1 masthead__h1"><img src="/assets/images/sol_logo_@2x.png" alt="Sol" width="500" height="270" class="masthead__image" /></h1>
			<h2 class="h2 masthead__h2">Last Days of <nobr>a Star</nobr> <span>From Elephant Laboratories</span></h2>
			<p class="copy">Sol is a strategic board game for 1–5 players. Easy-to-learn rules, a deep decision space, and a wealth of scenarios and variant play modes deliver endless replayability. Playtested and honed at countless cons, local game stores, and private living rooms, now, at the conclusion of a wildly successful Kickstarter, the much-anticipated game of solar destruction and salvation can <nobr>be yours.</nobr></p>
			<p class="buttonwrap"><a href="#what" class="button buttonwrap__button">Learn More</a> <a href="{{route-for :sol-buy {} }}" class="button buttonwrap__button button--outline">Pre-Order</a></p>
			<aside class="current-status">
				<strong>CURRENT STATUS</strong>: Manufacturing. Est. ship date <nobr>July 17, 2017.</nobr> <a href="https://www.kickstarter.com/projects/elephantlaboratories/sol-last-days-of-a-star/updates">More »</a>
			</aside>
		</div>		
	</div>
</header>

<main class="main-content">
	<div class="container container--quote">
		<div class="constrainer">
			<blockquote class="container--quote__bq">
				<p>“One of the most inventive logistics games of the past few years. Not a difficult game to learn, it has the feel of something much longer and more complicated. The game brims with wonder. [It] taps directly into the best traditions of both science fiction and tabletop gaming.”</nobr></p>
				<cite>Cole Wehrle, designer of Pax Pamir</cite>
			</blockquote>
		</div>
	</div>
	
	<div class="container container--light" id="what">
		<div class="constrainer">
			<div class="half-and-half">
				<div class="half-and-half__item">
					<img src="http://unsplash.it/960" alt="Product Shot: Sol" class="image--featured">
				</div>
				<div class="half-and-half__item">
					<h2 class="h2">What is Sol?</h2>
					<p>Players assume the role of of one of five factions, racing against time to gather resources needed to launch an Ark into interstellar space. Deploy sundivers from your orbiting mothership and use them to build bridgeheads deeper into the sun. Construct and position energy nodes, sundiver foundries, and transmission towers—or use your opponents’ for your own ends. Beam the energy you harvest to your Ark, imparting the momentum it will need to escape the coming supernova!</p>
					<p>Sol is competitive, but not zero-sum. Often the best move is mutually beneficial, but Sol is neither a collaborative nor cooperative game. It’s a race game, where more aggressive gameplay speeds the clock, challenging players to leaven ambition with restraint. And it’s a [something something] with [cards that do things?].</p>
					<p><a href="{{route-for :sol-buy {} }}" class="button button--outline">Pre-Order</a></p>
				</div>
			</div>
			<hr />
			<h3 class="h3">Many Ways <nobr>to Play</nobr></h3>
			<div class="two-columns">
				<p>Sol’s primary play mode allows for 2–5 players, with a compelling solo play variant. The 96 instability and 30 instability effect cards ensure that every session is unique, and allows fine-tuning the game’s duration, degree of difficulty, and player-v-player aggressiveness.</p>
				<p>Players can also choose to explore Sol as a cooperative “multiplayer-solo” game, to begin gameplay with “vestigial structures” already in place, or add trigger event cards for additional solar unpredictability. <a href="{{route-for :sol-play {} }}">Learn more about the many ways to <nobr>play Sol »</nobr></a></p>
			</div>
		</div>	
	</div>
	
	<div class="container container--bright">
		<div class="constrainer">
			<div class="half-and-half">
				<div class="half-and-half__item">		
					<h2 class="h2">What’s in <nobr>the box?</nobr></h2>	
					<ul class="no-bullets two-columns">
						<li>150 Custom plastic player pieces</li>
						<li>89 Energy cubes</li>
						<li>30 Instability effect cards</li>
						<li>96 Instability cards</li>
						<li>8 Trigger event cards</li>
						<li>7 Wooden instability tokens</li>
						<li>1 Double-sided game board</li>
						<li>5 Player holds</li>
						<li>5 Player aids</li>
						<li>1 Momentum track</li>
						<li>1 Instability marker</li>
						<li>1 Rulebook</li>
						<li>1 Rules summary sheet</li>
						<li>1 Mythos book</li>
					</ul>
				</div>
				<div class="half-and-half__item half-and-half__item--image">
					<img src="http://unsplash.it/960/720" alt="Product Shot: Sol" class="image--featured">						
			        <p id="chocolat_gallery" class="gallery" data-chocolat-title="Sol Component Gallery">
		                <strong>View Images</strong>
		                <span class="gallery__menu">
			                <a class="button button--gallery chocolat-image" href="/assets/images/bkg_solworld_01.jpg" title="Image 1 Caption">1</a>
			                <a class="button button--gallery chocolat-image" href="/assets/images/bkg_quote_01.jpg" title="Image 2 Caption">2</a>
			                <a class="button button--gallery chocolat-image" href="/assets/images/bkg_solworld_01.jpg" title="Image 3 Caption">3</a>
			                <a class="button button--gallery chocolat-image" href="/assets/images/bkg_texture_wht.jpg" title="Image 4 Caption">4</a>
			                <a class="button button--gallery chocolat-image" href="/assets/images/bkg_quote_01.jpg" title="Image 5 Caption">5</a>
						</span>
			        </p>
				</div>
			</div>	
		</div>
	</div>
	
	<div class="container container--worldsofsol">
		<div class="constrainer">
			<div class="half-and-half">
				<div class="half-and-half__item">
					<h2 class="h2">The Worlds <nobr>of Sol</nobr></h2>
					<p>Sol is set in a richly-textured utopian future, a time of limitless resources in which war, poverty and injustice are distant memories…until the sun begins to die. The lushly illustrated Mythos Book, included with your copy of Sol, provides a window into the vibrant cultures competing to preserve their way of life in the face of impending solar annihilation. <a href="{{route-for :sol-worlds {} }}">Which faction will <nobr>you play?</nobr></a> Will you launch your culture’s Ark in time?</p>
					<h2 class="h2">Resources <nobr>and Links</nobr></h2>
					<p>Watch explainers and interviews with Sol’s design team. Immerse yourself in playthrough videos and reviews from enthusiastic testers. Download the complete manual for the most in-depth documentation of the rules of play. Read all the nice things others are saying about Sol. Get yourself some wallpaper… <a href="{{route-for :sol-background {} }}"><nobr>Use that bandwidth »</nobr></a></p>
				</div>
				<div class="half-and-half__item half-and-half__item--light">
					<h2 class="h2">A shared passion</nobr></h2>
					<p>Sol is the brainchild of brothers Ryan Spangler and Sean Spangler, some of whose earliest memories involve playing—and making—board games. Their shared passion for strategy, camaraderie, adrenaline, and the act of bringing something new into the world drives them to design the games that they want to play. We hope you’ll want to play them as well.</p>
					<p>Sol is by all definitions an indy game, but it owes its existence to a vast supportive community of family, friends, and enthusiastic backers. <a href="{{route-for :sol-thanks {} }}">We have so many people <nowrap>to thank</nowrap>.</a></p>
				</div>
			</div>
		</div>		
	</div>
</main>

<script>
    $(function(){
        $('#chocolat_gallery').Chocolat({
            loop           : true,
            imageSize: 'contain'
        });
    });
</script>
{{/content}}
