{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-images">
        <h1 class="purple">Explosion!</h1>
        <img src="/img/sol/layout.jpg" width="100%">

        <h1 class="blue">At Gamelab, Gamestorm 2014</h1>
        <img src="/img/sol/gamelab5.jpg" width="100%">

        <h1 class="blue">In flight</h1>
        <img src="/img/sol/gamelab3.jpg" width="100%">

        <h1 class="blue">Primordial state</h1>
        <img src="/img/sol/primordial.jpg" width="100%">

        <h1 class="green">The Designers</h1>
        <img src="/img/sol/designers.jpg" width="100%">

        <h1 class="purple">Ryan Expounding</h1>
        <img src="/img/sol/expounding.jpg" width="100%">

        <h1 class="blue">Sean on a fish</h1>
        <h1 class="blue">Sean on a fish</h1>
        <img src="/img/sol/sean-on-a-fish.jpg" width="100%" style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);">

      </div>
{{/content}}
