{{< templates/sol/layout.html}}
{{%content}}
      <div id="sol-images">
        <h1 class="purple">Game Board</h1>
        <img src="/img/sol/components/board.jpg" width="100%">

        <h1 class="purple">Instability Spiral and Momentum Track</h1>
        <img src="/img/sol/components/instability.jpg" width="100%">

        <h1 class="purple">Mothership Board</h1>
        <img src="/img/sol/components/mothership.jpg" width="100%">

        <h1 class="purple">Player Aid</h1>
        <img src="/img/sol/components/player-aid.jpg" width="100%">

        <h1 class="purple">Playing</h1>
        <img src="/img/sol/components/luckylab.jpg" width="100%">

        <h1 class="purple">Pieces</h1>
        <img src="/img/sol/components/pieces.jpg" width="100%">

        <h1 class="purple">Explaining</h1>
        <img src="/img/sol/components/explaining.jpg" width="100%">

        <!-- <h1 class="purple">Solar Flare</h1> -->
        <!-- <img src="/img/sol/components/solar-flare.png" width="100%"> -->

        <!-- <h1 class="purple">Crystallization</h1> -->
        <!-- <img src="/img/sol/components/crystallization.png" width="100%"> -->

        <!-- <h1 class="purple">Dissipation</h1> -->
        <!-- <img src="/img/sol/components/dissipation.png" width="100%"> -->

        <!-- <h1 class="purple">Oscillation</h1> -->
        <!-- <img src="/img/sol/components/oscillation.png" width="100%"> -->

        <!-- <h1 class="purple">Subduction</h1> -->
        <!-- <img src="/img/sol/components/subduction.png" width="100%"> -->

        <!-- <h1 class="purple">Reverberation</h1> -->
        <!-- <img src="/img/sol/components/reverberation.png" width="100%"> -->

        <!-- <h1 class="purple">Refraction</h1> -->
        <!-- <img src="/img/sol/components/refraction.png" width="100%"> -->

        <!-- <h1 class="purple">Singularity</h1> -->
        <!-- <img src="/img/sol/components/singularity.png" width="100%"> -->

        <!-- <h1 class="purple">Explosion!</h1> -->
        <!-- <img src="/img/sol/layout.jpg" width="100%"> -->

        <!-- <h1 class="blue">At Gamelab, Gamestorm 2014</h1> -->
        <!-- <img src="/img/sol/gamelab5.jpg" width="100%"> -->

        <!-- <h1 class="blue">In flight</h1> -->
        <!-- <img src="/img/sol/gamelab3.jpg" width="100%"> -->

        <h1 class="blue">Primordial state</h1>
        <img src="/img/sol/primordial.jpg" width="100%">

        <h1 class="green">The Designers</h1>
        <img src="/img/sol/designers.jpg" width="100%">

        <h1 class="purple">Ryan Expounding</h1>
        <img src="/img/sol/expounding.jpg" width="100%">

        <h1 class="blue">Sean on a fish</h1>
        <img src="/img/sol/sean-on-a-fish.jpg" width="100%">

 <!-- style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);"> -->

      </div>
{{/content}}
