<div class="container container--reverse">
	<h1>patterns</h1>
</div>

<div class="container">
	<div class="copy">
		<h2>basic typography</h2>
		<p class="greek">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas repudiandae voluptatum nemo vel, minus dolores rerum maiores ipsa dolore. Voluptatem labore modi, fuga nesciunt cupiditate ullam sint, aspernatur ratione obcaecati.</p>
		<h3>third level heading</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid reiciendis aperiam enim odit explicabo facilis nihil quibusdam in non. Quibusdam libero possimus necessitatibus atque error maiores impedit, reiciendis neque doloremque!</p>
		<ul>
			<li>Bulleted item</li>
			<li>Bulleted item</li>
			<li>Bulleted item</li>
			<li>Bulleted item</li>
		</ul>
		<p><a href="#" class="button">Button</a></p>	
	</div>
</div>

<div class="container container--reverse">
	<h2>reverse type</h2>
	<div class="copy">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quaerat commodi, nisi veritatis laborum minima nesciunt perspiciatis ad voluptate quasi sit eveniet vero incidunt iste, totam adipisci beatae itaque! Beatae!</p>
	</div>
</div>

<div class="container container--hero">
	<h2 class="hero__caption">hero image and caption	</h2>
</div>

<div class="container">

	<h2>a 6 column grid using css grid (cutting — or bleeding? — edge!)</h2>
	
	<div class="row">
		<div class="box span-1"></div>
		<div class="box span-1"></div>
		<div class="box span-1"></div>
		<div class="box span-1"></div>
		<div class="box span-1"></div>
		<div class="box span-1"></div>
		
		<div class="box span-2"></div>
		<div class="box span-2"></div>
		<div class="box span-2"></div>
		
		<div class="box span-3"></div>
		<div class="box span-3"></div>
		
		<div class="box span-2"></div>
		<div class="box span-4"></div>	
		
		<div class="box span-6"></div>	
	</div>
	
</div>
