{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader container--pageheader--slv2">
	<div class="constrainer">
		<h1 class="h1">{{title}}</h1>		
	</div>
</header>

<main class="main-content">
	<div class="container container--celestial">
		<div class="constrainer">		
			<div class="half-and-half">
				<div class="half-and-half__item">
					<div class="embed-container">
						<iframe src="https://www.youtube.com/embed/RNskvQCEICM?rel=0&amp;controls=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="half-and-half__item">		
					<div class="sol-rule sol-rule--white">
						<h2 class="h2">A Simple Objective</h2>	
						<p>Gain momentum by transmitting energy to your ark and/or hurling sundivers into the heart of the Sun. The ark with the most momentum at the end survives! (The others perish in a fiery demise.)</p>
						<p>The strategies you employ to accomplish this objective are myriad. </p>
						<p><a href="http://elephantlaboratories.com/sol-rulebook.pdf" rel="external"><nobr>Download the rulebook »</nobr></a></p>
						<p><small>Please note: The game in the video features prototype elements, not final production components.</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container container--quote container--quote--blk2">
		<div class="constrainer">
			<blockquote class="container--quote__bq">
				<p>“I always say there’s nothing new in board games, but the way Sol plays makes me feel like some core mechanics are so fresh that I’ve never seen them before&thinsp;—&thinsp;and Sol’s game play is not just new; it’s intriguing and exciting.”</p>
				<cite><span class="cite__author">Anthony J Gallela</span> <span class="cite__role">Game Developer and Chair of the KublaCon Game Design Contest</span></cite>
			</blockquote>
		</div>
	</div>
	
	<div class="container container--reverse">
		<div class="constrainer">			
			<div class="measure">		
				<h2 class="h2">Basic Gameplay</h2>	
				<p>Each player has a mothership in orbit which is where they will launch sundivers onto the board.  The motherships follow an orbital track around the perimeter of the game board, moving one space each turn, so your sundivers will emerge in different places on the board throughout the game.</p>
				<h3 class="h3">Move, Convert, or Activate</h3>
				<p>On your turn you have three actions to choose from: </p>
				<p><strong>Move</strong> — Launch sundivers from your mothership onto the game board, fly them around the board, use them for the other two actions, and hurl them into the heart of the Sun.</p>
				<p><strong>Convert</strong> — Once your sundivers are in certain patterns, you can convert them into gates or stations (nodes, foundries, or towers).</p>
				<p><strong>Activate</strong> — Sundivers on stations can activate those stations to harvest energy, spend energy to build new sundivers or transmit energy back to your ark.</p>
				<h3 class="h3">Instability Cards</h3>
				<p>You draw instability cards every time you hurl sundivers and every time you convert or activate within the three layers of the Sun. Instability cards serve two purposes:</p> 
				<ol>
					<li>You can keep one of those cards to play on a future turn–its effect is determined by which instability effect card (chosen from thirty options) contains its suit token. </li>
					<li>Of the 4–7 suits mixed into the deck, one is always the solar flare suit. Every time a solar flare is drawn, you advance the time tracker. They are shuffled randomly into the deck and on the 13th solar flare the Sun goes supernova and the game is over!</li>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="container container--bright" id="replayable">
		<div class="constrainer">
			<div class="measure">	
				<h2 class="h2">Unique and Infinitely Replayable</h2>	
				<h3 class="h3">Orbiting Motherships</h3>
				<p>Each player has a mothership on an orbital track around the perimeter of the board, moving one space each turn. Your Mothership is your base of operations and where your sundivers launch onto the board.</p>
				<p>Because the motherships are always moving, you will drift farther away from your initial developments and draw closer to the those which other players have built, encouraging everyone to plan carefully for optimal use of launches, conversions, and activations. These cycles of timing provide endless variety to the gameplay.</p>
				<h3 class="h3">Instability Effects</h3>
				<p>Before every game a mix of instability effects are chosen which change the feel and potential of the game. Each effect is a rule or ability that enhances what players are able to do on their turn — things like teleporting sundivers or moving stations across the board. There is even a handful of player conflict effects (completely optional), for those who enjoy a bit of “take that!” in their game nights.</p>
				<p>With only 4–7 effects used in each game, there is a wide array of different approaches and potential strategies to discover and explore. And because you assign each effect to a specific suit at the beginning of every game, the endless combinations make every game unique!</p>
			</div>
		</div>
	</div>
	
	<div class="container container--deep">
		<div class="constrainer">
			<div class="measure">
				<h2 class="h2">Gameplay Variations</h2>
				<p>Sol features a surprisingly flexible yet solid core mechanic that supports many variations:</p>
				<h3 class="h3">Variable game duration</h3>
				<p>Both game board set up and deck creation allow for players to choose from quick play (~30-40min), standard (~60-90min), or extended play (~120-180min).</p>
				<h3 class="h3">Solo play</h3>
				<p>Only one rule change for time tracking and a selection of six starting scenarios to choose from. Win conditions are defined, but high scores are yet to be known…</p>
				<h3 class="h3">Co-op</h3>
				<p>Two rules changes to the base game and seven starting scenarios to choose from. May no player be left behind!</p>
				<h3 class="h3">Trigger Events</h3>
				<p>Used to represent structural shifts or solar phenomena brought about by the instability of the Sun, these five additional cards can be added to the instability deck to bring a higher-degree of unpredictability, challenge and/or, opportunity to the game.</p>
				<h3 class="h3">Levels of survival</h3>
				<p>If someone in your game group flinches at the idea of entire worlds perishing in a fiery cataclysm, feel free to introduce the seven levels of survival for a softer, gentler Sol: Last Days of a Star.</p>
			</div>
		</div>
	</div>
</main>
{{/content}}
