{{< templates/sol/layout.html}}
{{%content}}
<header class="container container--pageheader">
	<div class="constrainer">
		<div class="measure">
			<h1 class="h1">{{title}}</h1>
		</div>		
	</div>
</header>

<div class="container container--light">
	<div class="constrainer">
		<div class="measure">
			<p>For centuries, we lived in a Utopia, drawing energy directly from the sun. Our forebears had constructed a vast solar harvesting infrastructure to feed limitless energy to the five worlds, providing everything we could need or imagine.</p>
			<p>In recent years, however, massive solar flares and unprecedented instability have destroyed the solar lattice we had long taken for granted. Our planets are cast into darkness, our societies into chaos. The heliologists tell us the decline is irreversible—the instability will only increase, and any day our star could go supernova, eradicating all life in the solar system. For the apocalyptic among us, the End Times have come.</p>
			<p>And yet many of us still dare to hope! Each of our planets has built an Ark, poised on the edge of the solar system. While most of us will inevitably perish—the Arks wait poised at the edge of the solar system, ready to escape, but they require a great deal of energy to attain the momentum needed to flee our solar system. It was a stark realization: the only source of such vast energy is from the dying star itself.</p>
			<p>The urgent task we now face is to rebuild just enough of the shattered solar harvesting infrastructure to harness the energy needed to propel our Arks out of the solar system—before the Sun goes supernova and consumes everything we know.</p>
			<p>This is our only hope.</p>
		</div>
	</div>
</div>

<div class="container container--bright">
	<div class="constrainer">
		<div class="measure">	
			<h2>Header</h2>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus perferendis repellat at, quasi sapiente odit, ad minus. Tempora nesciunt reprehenderit architecto praesentium ad vel veniam natus sapiente rerum labore! Pariatur nobis dolorum molestias quo animi nemo officia, dolore enim aut necessitatibus delectus temporibus cum, culpa commodi nihil!</p>
		</div>
	</div>
</div>

<div class="container container--reverse">
	<div class="constrainer">
		<div class="measure">
			<h2>Header</h2>		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius delectus perferendis repellat at, quasi sapiente odit, ad minus. Tempora nesciunt reprehenderit architecto praesentium ad vel veniam natus sapiente rerum labore! Pariatur nobis dolorum molestias quo animi nemo officia, dolore enim aut necessitatibus delectus temporibus cum, culpa commodi nihil!</p>
		</div>
	</div>
</div>
{{/content}}
