{{< templates/layout.html}}
{{%content}}
<header class="container container--ele container--ele--header">
	<div class="constrainer">
		<h1 class="h1 h1--ele">We are Elephant Laboratories</h1>
		<p class="intro intro--ele">Elephant Laboratories lies deep in the pulsating schism between dreams and reality; creativity and method; invention and proof. We exist to transform experience and ideas into functional art.</p>
		<div class="half-and-half">
			<div class="half-and-half__item">					
				<p>Founded by Ryan Spangler in 2008, Elephant Laboratories is an incubator for art, invention, joy and wonder. Our interests range from music, cellular biology, board games, electronics, books, physical expression, and beyond.</p>
			</div>
			<div class="half-and-half__item">					
				<p>We believe inspiration can come at any time from any source and creations come forth from that well by a complex blend of passion, focus, fun, hard work, failure, drive and patience.</p>
			</div>
		</div>	
	</div>
</header>

<main class="main-content">
		
	<div class="container container--ele">
		<div class="constrainer">
			<div class="flex-vert container--ele__floating-heads">
				<div class="flex-vert__item flex-vert__item--light flex-vert__item--floatinghead">
					<img src="/assets/images/portrait_ryan_@2x.png" alt="Portrait: Ryan Spangler" width="113" height="113" class="image--floating-head" />
					<h2 class="h2">Ryan</h2>
					<p>Musician, board game designer, software engineer, and adventurer on several planes of existence, Ryan is an outward expression of the possibility of all things. Ryan’s ability to accept all ideas as equally viable until proven otherwise affords him a boundless well of creativity upon which to draw for his creations. His insatiable curiosity propels him along an endless series of fascinations (most recently computational biology and board games) from which new idea pods burst forth with alarming alacrity. As the founder of Elephant Laboratories, Ryan is excited to bring as many of his (and his team’s) pods to life as possible.</p>
					<!-- <p>Ryan also really. Really. Really loves Go.</p> -->
					<p><a href="mailto:ryan@elephantlaboratories.com">Email Ryan »</a></p>
				</div>
				<div class="flex-vert__item flex-vert__item--light flex-vert__item--floatinghead">
					<img src="/assets/images/portrait_sean_@2x.png" alt="Portrait: Sean Spangler" width="113" height="113" class="image--floating-head" />
					<h2 class="h2">Sean</h2>
          <p>Sean is a wonder of nature. Part dreamer, part goat, part bee harmony, his incisive insight into the reality of design impels Elephant Laboratories along into unexplored realms. He is also Ryan’s lifelong mentor and collaborator, and (not so commonly known) is the unabashed optimist of the group. Sean keeps our spirits buoyed with his lighthearted philosophy of life and sunny outlook. Sean's third sight provides the balancing force to drive the engine of creativity at Elephant Laboratories. He is Ryan’s first, best, and always partner in invention. Also a moderate hermit, he will not answer your emails.</p>
				</div>
				<div class="flex-vert__item flex-vert__item--light flex-vert__item--floatinghead">
					<img src="/assets/images/portrait_jodi_@2x.png" alt="Portrait: Jodi Sweetman" width="113" height="113" class="image--floating-head" />
					<h2 class="h2">Jodi</h2>
					<p>Jodi Sweetman is a master of interpersonal subtleties and extrapersonal festivities. Jodi is the great anchor upon which the various endeavors of Elephant Laboratories make contact with reality. Trained in the wild frontier of Michigan, she learned to handle masses of unruly humans while bartending and then managing digital projects (which apparently are much the same). Her drive, intensity, vision and anticipation of all things (even things that don’t happen) lend a solid basis for the great flights of imagination the Elephant Laboratories team embark on every day.</p>
					<p><a href="mailto:jodi@elephantlaboratories.com">Email Jodi »</a></p>
				</div>
			</div>
		</div>
		<div class="constrainer">
			<hr />
		</div>
		<div class="constrainer">
			<div class="golden">
				<div class="golden__item golden__item--a">
					<img src="/assets/images/box_hero_solo_@2x.png" alt="Product Shot: Sol" class="image--featured" width="500" height="500">
				</div>
				<div class="golden__item golden__item--b">
					<h2 class="h2--kicker h2--kicker--ele">Our newest game</h2>
					<h3 class="h2 h2--ele">SOL <span class="h2__tagline h2__tagline--ele">Last Days of a Star</span></h3>
					<p>Sol: Last Days of a Star is a strategic game of solar destruction and salvation for 1-5 players. Play as one of the five worlds orbiting the Sun, diving into the searing plasma to harvest critical energy&thinsp;—&thinsp;energy needed to fuel your escape before the Sun goes supernova. Sol has simple, easy to learn rules, a deep decision space and emergent strategy that unfolds over <nobr>multiple plays.</nobr></p>
					<p><a href="/sol/" class="button button--ele">Learn More</a></p>
				</div>
			</div>
		</div>	
	</div>
	
</main>
{{/content}}
