{{< templates/think/layout.html}}
{{%content}}
      <div id="think-expand">
        <div>
          <h2 class="grey">Something to think about?</h2>
        </div>
        <form id="think-signup-form" action="{{route-for :think-mark {} }}" method="post" enctype="multipart/form-data">
          {{#thought}}<input type="hidden" name="thought" value="{{thought.id}}" />{{/thought}}
          <div>
            <textarea name="words" id="think-words" class="text-area">{{#thought}}{{thought.words}}{{/thought}}</textarea>
          </div>
          <input type="submit" value="expand" class="submit" />
        </form>
      </div>
{{/content}}
